.navbar-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
  }
  .my-nav {
    border: none;
    outline: none;
  }
  
  .nav-item {
    /* flex: 1; */
  }
  
  .nav-link {
    text-align: center;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  
  .box {
    background-color: rgb(151, 91, 111);
    border-radius: 15px;
  }
  
 
  .words {
    position: absolute;
    right: 25px;
    bottom: 10px;
    border-radius: 40px;
    outline: solid black 2px;
  }