* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   .container {
    width: 800px;
    margin-top: 50px;
   }
   body {
    background-image: url('images/destination-5.jpg');
    background-size: 1900px 1400px;
    background-repeat: no-repeat;
    /* background-position: center; */
   }
   .row {
    border-radius: 5px;
   }
   form {
    padding-top: 10px;
    padding-bottom: 30px;
    box-sizing: border-box;
   }
   .left {
    /* border: 1px solid; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
   }
   .right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   }
   input {
    width: 95%;
    border-radius: 8px;
    padding: 10px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.406);
    box-shadow: 0.1px 0.1px rgba(255, 255, 255, 0.889);
   }
   label {
    font-weight: bolder;
    padding-top: 15px;
    padding-bottom: 5px;
   }
   .btn {
    background-color: #0d47ace2;
    border-radius: 8px;
    padding: 8px;
   }
   .right {
    padding-left: 30px;
    background-color: rgb(255, 255, 255);
   }
   button {
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.406);
    box-shadow: 0.2px 0.2px;
    justify-content: center;
    align-items: center !important;
   }
   a {
    font-weight: bolder;
    color: #3b74d7;
    text-decoration: none;
   }
   .left {
    background-image: url('images/image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat !important;
   }
   .fa-regular,
   .fa-solid {
    position: absolute;
    padding: 10px;
   }
   .fa-solid {
    margin-top: 6px;
    color: rgba(0, 0, 0, 0.238);
   }
   ::placeholder {
    padding-left: 30px;
   }
   .text {
    margin-top: 10px;
   }
   .fpass {
    text-align: end;
    margin-right: 28px;
   }
   img {
    width: 35px;
    height: 35px;
   }
   
   .heading {
    display: flex;
    justify-content: space-between;
   }

   .col {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   }
   .last-btn {
    justify-content: end;
   }
   button {
    width: 230px !important;
   }
   h3, .fpass, .btn{
    font-weight: bold;
   }
   form{
   flex-shrink: 100px;
   }

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    overflow: hidden;
    border: 1px;
}

.line {
    flex: 0.5;
    border-bottom: 1px solid black;
    /* border: solid blue 2px; */
    /* margin: 10 10px; */
    /* margin-right: 10px; */
    /* margin-bottom: 12px; */
}

.line-text {
    /* border: solid#3b74d7 2px;  */
    white-space: nowrap;
    /* margin-right: 10px; */
    /* margin-left: 10px; */

}

.button-g{
    margin-top: 15px;
}