/* .p{
    font-size: 13px;
} */
 
 .tp-cl{
  background-color: #6c6ff6;
   border-radius: 15px; 
   position: relative;
   left: 15%; 
   top: px;
   right: auto;
   height: 259px;
 }
 .p{
  font-size: 13px;
 }
 .bton{
    color: azure;
    /* background-color: #6c6ff6; */
    /* border-radius: 4px;   */
    border: 1px solid;
    padding: 5px 30px;
    background-color: transparent;
    border-radius: 3px;
    font-size: small;
 }























 