/* Navbar Styling */
.navbar {
  background: linear-gradient(to right, #7cf0ec, #f6a294);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffffff; /* Hover color */
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  color: #ffffff !important; /* Active link color */
}
body {
  background-color: #fac2b9;
}
